//FONTS
$textFont: 'Roboto Condensed', sans-serif;
$titleFont: 'Alegreya Sans SC', sans-serif;

//COLOR-PALETTE
$generalDark: #333333;
$generalLight: #F5F5F5;

$darkBrownie: #927B51;
$lightBrownie: #A89166;

$darkerGreen: #5f7244;
$darkGreen: #80C31C;
$lightGreen: #BCDD5A;

$darkOrange: #FF6600;
$lightOrange: #FBB36B;

//MIXINS
@mixin  flexCenter($d) {
    display: flex;
    flex-direction: $d;
    justify-content: center;
    align-items: center;
}

@mixin  flexAround($d) {
    display: flex;
    flex-direction: $d;
    justify-content: space-around;
    align-items: center;
}

@mixin  flexBetween($d) {
    display: flex;
    flex-direction: $d;
    justify-content: space-between;
    align-items: center;
}

//RESET
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar{
        display: none;
    }
}

html {
    scroll-behavior: smooth; 
}



//game
.gamePage{

    .upperInfo{
        @include flexAround(row);
        background-color: $lightBrownie;
    }

    .lowerInfo{
        @include flexAround(row);
        background-color: $lightBrownie; 
    }

    .map{
        width: 100vw;
        height: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        background-color: blue;

        .houseTile {
            background-image: url('../img/houseTile.jpg');
            background-size: cover;
            border: .2px solid green;
            cursor: pointer;

            &:hover{
                filter: grayscale(100%);
            }
        }

        .cropTile{
            background-image: url('../img/Crop.jpg');
            background-size: cover;
            border: .2px solid green;
            cursor: pointer;

            &:hover{
                filter: grayscale(100%);
            }
        }

        .bridgeTile{
            background-image: url('../img/Bridge.jpg');
            background-size: cover;
            border: .2px solid green;
            cursor: pointer;

            &:hover{
                filter: grayscale(100%);
            }
        }

        .tile{
            background-image: url('../img/grassFull.jpg');
            background-size: cover;
            border: .2px solid green;
            cursor: pointer;

            &:hover{
                filter: grayscale(100%);
            }

            // lake
            &:nth-child(158) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(178) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(179) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(180) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(198) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(199) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(200) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(201) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(202) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(220) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(221) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(222) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(242) {
                background-image: url('../img/waterFull.jpg');
            }

            //river
            &:nth-child(295) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(296) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(297) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(298) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(299) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(320) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(321) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(322) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(343) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(364) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(365) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(366) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(367) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(368) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(369) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(370) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(371) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(372) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(351) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(330) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(331) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(332) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(311) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(312) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(313) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(314) {
                background-image: url('../img/waterFull.jpg');
            }
            &:nth-child(315) {
                background-image: url('../img/waterFull.jpg');
            }

            //earth
            &:nth-child(196) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(197) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(177) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(176) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(175) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(217) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(218) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(219) {
                background-image: url('../img/earthFull.jpg');
            }

            &:nth-child(181) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(182) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(183) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(203) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(204) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(225) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(224) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(223) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(196) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(197) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(177) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(176) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(175) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(217) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(218) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(136) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(137) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(138) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(157) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(159) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(156) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(160) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(240) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(241) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(243) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(244) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(262) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(263) {
                background-image: url('../img/earthFull.jpg');
            }
            &:nth-child(264) {
                background-image: url('../img/earthFull.jpg');
            }

            //desert
            &:nth-child(316) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(317) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(318) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(319) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(333) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(334) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(335) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(336) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(337) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(338) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(339) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(340) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(341) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(342) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(352) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(353) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(354) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(355) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(356) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(357) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(358) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(359) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(360) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(361) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(362) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(363) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(373) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(374) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(375) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(376) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(377) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(378) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(379) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(380) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(381) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(382) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(383) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(384) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(385) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(386) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(387) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(388) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(389) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(390) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(391) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(392) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(393) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(394) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(395) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(396) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(397) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(398) {
                background-image: url('../img/sandFull.jpg');
            }
            &:nth-child(399) {
                background-image: url('../img/sandFull.jpg');
            }
        }
    }
}