<div class="form-group">
    <label for="tileNr"></label>
    <input type="number" name="tileNr" id="tileNr" class="form-control" placeholder="Tile-Number" required>
</div>
<div class="form-group">
    <label for="buildNr"></label>
    <input type="number" name="buildNr" id="buildNr" class="form-control" placeholder="Building-Number" required>
</div>
<div class="form-group">
    <button type="submit">Buy</button>
</div>