<div class="errorPage">
    <div class="errornav">
        <h1>bzzt!.~</h1>
        <a href="/game">back</a>
    </div>

    <div class="troubleshoot">
        <h2>Got problems? Consider the following rules:</h2>
        <p>You need enough money to buy a building</p>
        <p>Your army stat can't grow bigger than your supplies</p>
        <p>You can't build on water (Except the bridge)</p>
        <p>Crops can only be placed within the area around the lake</p>
        <p>However houses can be placed on the green tiles</p>
        <p>There can be only one building per tile</p>
    </div>
</div>

