<div class="landingPage">
    <div class="indexLogo">
        <img src="img/uniqueleft.svg" alt="logo" width="125px">
        <h2 class="logoText"><span>&lt;</span>unique<span>|</span>norm<span>&gt;</span></h1>
        <img src="img/uniqueright.svg" alt="logo" width="125px">
    </div>

    <div class="indexTitle">
        <h3><span>|</span> the undefined lands <span>|</span></h3>
    </div>

    <div class="regLog">
        <a href="/user/register">register</a>
        <a href="/user/login">login</a>
    </div>
</div>
