<div class="landingPage">
    <div class="menu">
        <div class="title">
            <h3><span>T</span>he <span>U</span>ndefined <span>L</span>ands</h3>
            <p>The <span>Undefined Lands</span> are full of mysterious places and creatures... <br> But don't worry, the druid <span>Zul</span> will guide your way!</p>
        </div>
        <div class="regLog">
            <a href="/user/login">Login</a>
            <a href="/user/register">Register</a>
            <a href="/html/presentation.html">Präsi</a>
        </div>
        
        <div class="indexLogo">
            <img src="img/uniqueleft.svg" alt="logo" width="50px">
            <h2 class="logoText"><span>&lt;</span>unique<span>|</span>norm<span>&gt;</span></h1>
            <img src="img/uniqueright.svg" alt="logo" width="50px">
        </div>
    </div>
</div>