<h1>Login</h1>

<form action="/user/login" method="POST">

    <%- include('./partials/_form_fields') %> 

    <button type="submit" class="saveBtn">Login</button>

</form>

<a href="/user/register">Don't have an account? -> Register!</a>