<div class="lolPage">
    <div class="dancingUs">
        <img src="/img/lol.gif" alt="">
    </div>
    <div class="dittoOne">
        <img src="/img/ditto.gif" alt="" width="300px">
    </div>
    <div class="dittoTwo">
        <img src="/img/ditto.gif" alt="" width="300px">
    </div>
    <div class="cat">
        <img src="/img/cat.gif" alt="" width="300px">
    </div>
    <div class="spongebob">
        <img src="/img/sb.gif" alt="">
    </div>

    <iframe width="1020" height="574" src="https://www.youtube.com/embed/wdRSPSt_IEA?start=121&rel=0&autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>

</div>