<div class="questPage">
    <h1>Quests</h1>
    <a href="/game/quests/new">New Quest</a>

    <% quests.forEach(quest => { %> 
        <% if(quest.requiredLvl <= level){ %>
            <div class="questContainer">
                <p><%= quest.title %></p> 
                <p><%= quest.description %></p>
            </div>
        <% } %>
        <a href="/game/quests/<%= quest.slug %> ">show</a>
    <% }); %> 

    <a href="/game">back</a>
    
</div>