<div class="questPage">
    <h1>Quests</h1>
    <a href="/quests/new">New Quest</a>

    <% quests.forEach(quest => { %> 
        <div class="questContainer">
            <p><%= quest.title %></p> 
            <p><%= quest.description %></p>
        </div>

        <a href="quests/<%= quest.slug %> ">show</a>
    <% }); %> 
    
</div>