<h1>Register</h1>

<form action="/user/register" method="POST">

    <%- include('./partials/_form_fields') %> 

    <button type="submit" class="saveBtn">Register</button>

</form>

<a href="/user/login">Already have an Account? -> Login!</a>