<div class="singleQuestPage">
    <div class="questContainer">
        <h1><%= quest.title %></h1>
        <div class="markDownTask">
            <%- quest.sanitizedHtml %>
        </div>
    </div>

    <% if(level === quest.requiredLvl){ %>
        <div class="updateBtn">
            <form action="/game/updateLvl?_method=PUT" method="POST">
                <button type="submit">done</button>
            </form>
        </div>
    <% } %>

    <h4>Solutions:<%= quest.solutions %> </h4>

    <div class="links">
        <a href="/game/quests">back</a>
        <a href="/game/quests/edit/<%= quest.id %> ">edit</a>
    </div>
</div>
