* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

.gamePage .upperInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #A89166;
}

.gamePage .lowerInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #A89166;
}

.gamePage .map {
  width: 100vw;
  height: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: blue;
}

.gamePage .map .houseTile {
  background-image: url("../img/houseTile.jpg");
  background-size: cover;
  border: .2px solid green;
  cursor: pointer;
}

.gamePage .map .houseTile:hover {
  filter: grayscale(100%);
}

.gamePage .map .cropTile {
  background-image: url("../img/Crop.jpg");
  background-size: cover;
  border: .2px solid green;
  cursor: pointer;
}

.gamePage .map .cropTile:hover {
  filter: grayscale(100%);
}

.gamePage .map .bridgeTile {
  background-image: url("../img/Bridge.jpg");
  background-size: cover;
  border: .2px solid green;
  cursor: pointer;
}

.gamePage .map .bridgeTile:hover {
  filter: grayscale(100%);
}

.gamePage .map .tile {
  background-image: url("../img/grassFull.jpg");
  background-size: cover;
  border: .2px solid green;
  cursor: pointer;
}

.gamePage .map .tile:hover {
  filter: grayscale(100%);
}

.gamePage .map .tile:nth-child(158) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(178) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(179) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(180) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(198) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(199) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(200) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(201) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(202) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(220) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(221) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(222) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(242) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(295) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(296) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(297) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(298) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(299) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(320) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(321) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(322) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(343) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(364) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(365) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(366) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(367) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(368) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(369) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(370) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(371) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(372) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(351) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(330) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(331) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(332) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(311) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(312) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(313) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(314) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(315) {
  background-image: url("../img/waterFull.jpg");
}

.gamePage .map .tile:nth-child(196) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(197) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(177) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(176) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(175) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(217) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(218) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(219) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(181) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(182) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(183) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(203) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(204) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(225) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(224) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(223) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(196) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(197) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(177) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(176) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(175) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(217) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(218) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(136) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(137) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(138) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(157) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(159) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(156) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(160) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(240) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(241) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(243) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(244) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(262) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(263) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(264) {
  background-image: url("../img/earthFull.jpg");
}

.gamePage .map .tile:nth-child(316) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(317) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(318) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(319) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(333) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(334) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(335) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(336) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(337) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(338) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(339) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(340) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(341) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(342) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(352) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(353) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(354) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(355) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(356) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(357) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(358) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(359) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(360) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(361) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(362) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(363) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(373) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(374) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(375) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(376) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(377) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(378) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(379) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(380) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(381) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(382) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(383) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(384) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(385) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(386) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(387) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(388) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(389) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(390) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(391) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(392) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(393) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(394) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(395) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(396) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(397) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(398) {
  background-image: url("../img/sandFull.jpg");
}

.gamePage .map .tile:nth-child(399) {
  background-image: url("../img/sandFull.jpg");
}
/*# sourceMappingURL=main.css.map */